// Colores
$color-primario: #2e8fc7;
$color-secundario: #6cc9ab;
$color-secundario-oscuro: #4fae90;
$color-texto: #333333;
$color-texto-claro: #8a8a8a;
$color-blanco: #ffffff;
$color-fondo-suave: #f2fbf8;
$color-borde: #e2e2e2;

// Tipografía
$font-base:  Arial, sans-serif;

// Layout
$ancho-contenedor: 1170px;


$tablet-breakpoint: 1023px;
$mobile-breakpoint: 767px;
