.cta {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: $color-fondo-alterno;
}

// parte / total x 100
// 640 / 1140 x 100 = 56.14% ≈ 56%
.cta-title {
  font-size: 32px;
  max-width: 56%;
  margin: 0 auto 32px;
}