.community {
  text-align: center;
  padding-bottom: 96px;
}

// parte / total (container) x 100
// 620 / 1140 (container) x 100 = 54.38% ≈ 54%
.community-title {
  font-size: 30px;
  max-width: 54%;
  margin: 0 auto 8px;
}

.community-subtitle {
  color: $color-texto-claro;
  margin-bottom: 48px;
}

// parte / total (container) x 100
// 364 / 1140 (container) x 100 = 31.93% ≈ 32%
.community-card {
  width: 32%;
  float: left;
  text-align: center;
  background-color: $color-fondo;
  border-radius: 8px;
  padding: 32px;
  box-shadow: 0 10px 25px rgba($color-oscuro, 0.06);
}

// parte / total (container) x 100
// 24 / 1140 (container) x 100 = 2.1% ≈ 2%
.community-card + .community-card {
  margin-left: 2%;
}