*
{
  box-sizing: border-box;
}


#footer .container{
    padding-top:0;
    padding-bottom:0;
}

#footer {
  background-color: $color-oscuro;
  color: $color-texto-claro;
  padding-top: 56px;
  padding-bottom: 56px;
}

// parte / total (container) x 100
// 280 / 1140 (container) x 100 = 24.56% ≈ 25%
.footer-brand {
  width: 25%;
  float: left;
}

// parte / total (footer-brand) x 100
// 255 / 280 (footer-brand) x 100 = 91.07% ≈ 91%
.footer-logo {
  width: 91%;
  margin-bottom: 32px;
}

.footer-copy {
  font-size: 15px;
  padding-bottom: 16px;
  color: $color-fondo;
}

// parte / total (footer-brand) x 100
// 250 / 280 (footer-brand) x 100 = 89.29% ≈ 89%
.footer-social {
  width: 89%;
  margin-top: 50px;
}

// parte / total (container) x 100
// 170 / 1140 (container) x 100 = 14.91% ≈ 15%
.footer-col {
    width: 15%;
    float: left;

    // parte / total (container) x 100
    // 40 / 1140 (container) x 100 = 3.51% ≈ 4%
    margin-left: 4%;
}


// parte / total (container) x 100
// 255 / 1140 (container) x 100 = 22.37% ≈ 22%
.footer-newsletter{
    width: 22%;
    float: right;
  }

.footer-col-title {
  color: $color-fondo;
  font-size: 15px;
  margin-bottom: 16px;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  font-size: 14px;
  color: $color-fondo;
}

.footer-links a:hover {
  color: $color-primario;
}


// parte / total (footer-newsletter) x 100
// 255 / 255 (footer-newsletter) x 100 = 100%
.input {
    background-color: rgba($color-texto-claro, 0.3);
    outline: none;
    color: $color-fondo;
    border: none;
    margin-bottom: 16px;
    padding: 10px 40px 10px 12px;
    width: 100%;
    border-radius: 4px;
  }

// parte / total (footer-newsletter) x 100
// 255 / 255 (footer-newsletter) x 100 = 100%
.wrap-form{
    width: 100%;
    position:relative;
}

.wrap-form form{
    position:relative;
}

.footer-button{
    background:none;
    border:none;
    position:absolute;
    right:12px;
    top:10px;
    cursor:pointer;
}

.input::placeholder {
    color: rgba($color-fondo, 0.8);
}