
.footer-guide {
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-guide-image {
  width: 300px;
  float: left;
}

.footer-guide-image img {
  width: 100%;
}

.footer-guide-content {
  width: 780px;
  float: right;
}

.footer-guide-title {
  font-size: 30px;
  margin-bottom: 16px;
}

.footer-guide-text {
  color: $color-texto-claro;
  margin-bottom: 32px;
}