footer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid $color-borde;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-top: 32px;
}

.footer__texto {
  font-size: 14px;
  font-weight: 400;
  color: $color-texto-claro;
}

.usuario {
  font-weight: 700;
  color: $color-texto;
}