// parte / total (container) x 100
// 430 / 1140 (container) x 100 = 37.71% ≈ 38%
.showcase-image {
  position: relative;
  width: 38%;
  float: left;
  height: 400px;
  padding-top: 0;
  padding-bottom: 0;
}

/* telefono al fondo, mas pequeñito y centrado, sin afectar el resto de la seccion */
// parte / total (showcase-image) x 100
// 200 / 430 (showcase-image) x 100 = 46.51% ≈ 47%
.showcase-illustration {
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 25%;
  transform: translateX(50%);
  width: 47%;
}

/* los 2 personajes se montan encima del telefono */
// parte / total (showcase-image) x 100
// 110 / 430 (showcase-image) x 100 = 25.58% ≈ 26%
// 60 / 430 (showcase-image) x 100 = 13.95% ≈ 14%
.showcase-character-1 {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 14%;
  width: 26%;
}

// parte / total (showcase-image) x 100
// 100 / 430 (showcase-image) x 100 = 23.26% ≈ 23%
// 70 / 430 (showcase-image) x 100 = 16.28% ≈ 16%
.showcase-character-2 {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 16%;
  width: 23%;
}

// parte / total (container) x 100
// 640 / 1140 (container) x 100 = 56.14% ≈ 56%
.showcase-content {
  width: 56%;
  float: right;
  padding-top: 40px;
  padding-bottom: 40px;
}

.showcase-title {
  font-size: 28px;
  margin-bottom: 16px;
}

.showcase-text {
  color: $color-texto-claro;
  margin-bottom: 32px;
}